#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

*.zip
!lambda/reputation-list/archive.zip

# nodejs
node_modules

# IDE
.idea
*.iml

# OS
.DS_Store
